@font-face {
  font-family: "Space Mono";
  src: url(../../fonts/SpaceMono-Regular.ttf);
}
@font-face {
  font-family: "Lexend Deca";
  src: url(../../fonts/LexendDeca-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.container {
  max-width: 1126px;
  width: 100%;
  margin: 0 auto;
}

@font-face {
  font-family: "Space Mono";
  src: url(../../fonts/SpaceMono-Regular.ttf);
}
@font-face {
  font-family: "Lexend Deca";
  src: url(../../fonts/LexendDeca-Regular.ttf);
}
nav {
  padding: 22px 0;
  position: fixed;
  width: 100%;
  z-index: 100000000;
  background-color: #fff;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: Space-between;
  flex-wrap: nowrap;
}
.nav .list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: Space-between;
  flex-wrap: nowrap;
}
.nav .list__burger {
  display: none;
}
.nav .list__logo {
  padding-right: 58px;
}
.nav__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 32px;
}
.nav__list--item a {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
}
.nav__btn {
  background: #FCB72B;
  border: none;
  padding: 14px 39px;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 40px;
  }
}
@media screen and (max-width: 576px) {
  .nav {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    flex-wrap: nowrap;
  }
  .nav .list {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    flex-wrap: nowrap;
  }
  .nav .list__img {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    flex-wrap: nowrap;
    gap: 198px;
  }
  .nav .list__burger {
    display: block;
    padding-left: 22px;
  }
  .nav .list__logo {
    padding-right: 58px;
  }
  .nav__list {
    transform: translatex(-200%);
    background: #333A44;
    padding-top: 64px;
    padding-left: 32px;
    position: absolute;
    padding-right: 135px;
    padding-bottom: 339px;
    top: 87px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 32px;
  }
  .nav__list--item a {
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    color: #939CAA;
  }
  .nav__btn {
    position: absolute;
    top: 576px;
    left: 72px;
    transform: translatex(-200%);
  }
}
@media screen and (max-width: 400px) {
  .nav .list__img {
    gap: 98px;
  }
}
.section1 {
  background-image: url(../../imges/Bitmap.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.hero {
  padding-bottom: 282px;
}
.hero__title {
  padding-top: 249px;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  color: #FFFFFF;
  max-width: 600px;
  width: 100%;
  padding-bottom: 40px;
}
.hero__flex {
  position: relative;
}
.hero__flex .p {
  padding-left: 58px;
}
.hero__flex--text {
  max-width: 405px;
  width: 100%;
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  padding-bottom: 40px;
}
.hero__flex--logo {
  position: absolute;
  left: -200px;
  top: 40px;
}
.hero__flex--logo1 {
  position: absolute;
  top: 32px;
  right: 160px;
}
.hero__flex--logo2 {
  display: none;
}

@media screen and (max-width: 768px) {
  .section1 {
    padding: 0;
    background-image: url(../../imges/Bitmaptablet.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
  }
  .hero {
    padding: 0;
    padding-bottom: 300px;
  }
  .hero__title {
    padding: 0;
    padding-top: 220px;
    margin: 0 auto;
    text-align: center;
  }
  .hero__flex {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
  }
  .hero__flex .p {
    padding-left: 0px;
  }
  .hero__flex--text {
    max-width: 573px;
    width: 100%;
    padding: 0;
    padding-top: 24px;
    padding-bottom: 32px;
    text-align: center;
  }
  .hero__flex--btn {
    display: block;
    max-width: 180px;
    width: 100%;
    margin: 0 auto;
  }
  .hero__flex--logo {
    display: none;
  }
  .hero__flex--logo1 {
    display: none;
  }
  .hero__flex--logo2 {
    display: block;
    position: absolute;
    bottom: -160px;
    left: -150px;
  }
}
@media screen and (max-width: 576px) {
  .section1 {
    padding: 0;
    background-image: url(../../imges/Bitmapmobayl.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
  }
  .hero {
    padding: 0;
    padding-bottom: 400px;
  }
  .hero__title {
    font-size: 40px;
    line-height: 40px;
  }
  .hero__flex {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
  }
  .hero__flex--text {
    max-width: 573px;
    width: 100%;
    padding: 0;
    padding-top: 24px;
    padding-bottom: 32px;
    text-align: center;
  }
  .hero__flex--btn {
    transform: translatex(0);
    top: 190px;
    left: 125px;
  }
  .hero__flex--logo {
    display: none;
  }
  .hero__flex--logo1 {
    display: none;
  }
  .hero__flex--logo2 {
    display: block;
    position: absolute;
    bottom: -240px;
    left: -370px;
  }
}
@media screen and (max-width: 400px) {
  .hero__flex--btn {
    transform: translatex(0);
    top: 190px;
    left: 62px;
  }
}
.hero1 {
  position: relative;
}
.hero1__logo {
  position: absolute;
  left: -195px;
  top: 140px;
  z-index: -1;
}
.hero1__logo1 {
  display: none;
}
.hero1__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding-bottom: 147px;
  padding-top: 100px;
}
.hero1__list--item .title {
  font-family: "Space Mono";
  padding-top: 40px;
  padding-bottom: 27px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #495567;
}
.hero1__list--item .text {
  max-width: 350px;
  width: 100%;
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
}

@media screen and (max-width: 768px) {
  .hero1__logo {
    display: none;
  }
  .hero1__logo1 {
    display: block;
    position: absolute;
    left: 102px;
    top: 90px;
    z-index: -1;
  }
  .hero1__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding-bottom: 147px;
    padding-top: 100px;
  }
  .hero1__list--item {
    -moz-column-gap: 79px;
         column-gap: 79px;
    row-gap: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: Space-between;
    flex-wrap: nowrap;
  }
  .hero1__list--item .title {
    font-family: "Space Mono";
    padding-top: 40px;
    padding-bottom: 27px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #495567;
  }
  .hero1__list--item .text {
    max-width: 350px;
    width: 100%;
    font-family: "Lexend Deca";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #939CAA;
  }
}
@media screen and (max-width: 576px) {
  .hero1__logo1 {
    display: none;
  }
  .hero1__list {
    display: block;
  }
  .hero1__list--item {
    padding-bottom: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
  }
  .hero1__list--item .title {
    text-align: center;
  }
  .hero1__list--item .text {
    text-align: center;
  }
}
.hero2 {
  position: relative;
}
.hero2__list {
  padding-top: 83px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: Space-between;
  flex-wrap: wrap;
}
.hero2__list .item-title1 {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: #495567;
  max-width: 500px;
  padding-bottom: 24px;
  width: 100%;
}
.hero2__list .item-text1 {
  max-width: 500px;
  padding-bottom: 40px;
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
}
.hero2__logo {
  position: absolute;
  top: 352px;
  right: -197px;
  z-index: 1;
}
.hero2__logo1 {
  position: absolute;
  top: 0px;
  right: -195px;
}
.hero2__logo3 {
  position: absolute;
  top: 704px;
  left: -210px;
}
.hero2__logo4 {
  position: absolute;
  top: 640px;
  z-index: -1;
  left: -210px;
}
.hero2 .xamyon {
  border-radius: 50%;
}
.hero2__logo5 {
  position: absolute;
  top: 1200px;
  right: -210px;
}
.hero2__logo6 {
  z-index: -1;
  position: absolute;
  top: 1120px;
  right: -210px;
}

@media screen and (max-width: 768px) {
  .hero2 {
    position: relative;
  }
  .hero2__list {
    padding-top: 83px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .hero2__list .item-title1 {
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: #495567;
    max-width: 500px;
    padding-bottom: 24px;
    width: 100%;
  }
  .hero2__list .item-text1 {
    max-width: 500px;
    padding-bottom: 40px;
    font-family: "Lexend Deca";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #939CAA;
  }
  .hero2__logo {
    position: absolute;
    top: 352px;
    right: -197px;
    z-index: 1;
  }
  .hero2__logo1 {
    position: absolute;
    top: 0px;
    right: -195px;
  }
  .hero2__logo3 {
    position: absolute;
    top: 704px;
    left: -210px;
  }
  .hero2__logo4 {
    position: absolute;
    top: 640px;
    z-index: -1;
    left: -210px;
  }
  .hero2 .xamyon {
    border-radius: 50%;
  }
  .hero2__logo5 {
    position: absolute;
    top: 1200px;
    right: -210px;
  }
  .hero2__logo6 {
    z-index: -1;
    position: absolute;
    top: 1120px;
    right: -210px;
  }
}/*# sourceMappingURL=main.css.map */