.section1 {
    @include BG (url(../../imges/Bitmap.png), no-repeat, 100%, center);
}

.hero {
    padding-bottom: 282px;
    &__title {
        padding-top: 249px;
        font-family: $mono;
        font-style: normal;
        font-weight: 700;
        font-size: 56px;
        line-height: 56px;
        color: $h1color;
        max-width: 600px;
        width: 100%;
        padding-bottom: 40px;
    }
    &__flex {
        position: relative;
        .p {
            padding-left: 58px;
        }
        &--text {
            max-width: 405px;
            width: 100%;
            font-family: $desa;
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 25px;
            color: $h1color;
            padding-bottom: 40px;
        }
        &--logo {
            position: absolute;
            left: -200px;
            top: 40px;
        }
        &--logo1 {
            position: absolute;
            top: 32px;
            right: 160px;
        }
        &--logo2 {
            display: none;
        }
    }
}

@media screen and (max-width:768px) {
    .section1 {
        padding: 0;
        @include BG (url(../../imges/Bitmaptablet.png), no-repeat, 100%, center);
    }
    .hero {
        padding: 0;
        padding-bottom: 300px;
        &__title {
            padding: 0;
            padding-top: 220px;
            margin: 0 auto;
            text-align: center;
        }
        &__flex {
            position: relative;
            @include flexfunksiya (column, center, center, nowrap);
            .p {
                padding-left: 0px;
            }
            &--text {
                max-width: 573px;
                width: 100%;
                padding: 0;
                padding-top: 24px;
                padding-bottom: 32px;
                text-align: center;
            }
            &--btn {
                display: block;
                max-width: 180px;
                width: 100%;
                margin: 0 auto;
            }
            &--logo {
                display: none;
            }
            &--logo1 {
                display: none;
            }
            &--logo2 {
                display: block;
                position: absolute;
                bottom: -160px;
                left: -150px;
            }
        }
    }
}

@media screen and (max-width:576px) {
    .section1 {
        padding: 0;
        @include BG (url(../../imges/Bitmapmobayl.png), no-repeat, 100%, center);
    }
    .hero {
        padding: 0;
        padding-bottom: 400px;
        &__title {
            font-size: 40px;
            line-height: 40px;
        }
        &__flex {
            position: relative;
            @include flexfunksiya (column, center, center, nowrap);
            &--text {
                max-width: 573px;
                width: 100%;
                padding: 0;
                padding-top: 24px;
                padding-bottom: 32px;
                text-align: center;
            }
            &--btn {
                transform: translatex(0);
                top: 190px;
                left: 125px;
            }
            &--logo {
                display: none;
            }
            &--logo1 {
                display: none;
            }
            &--logo2 {
                display: block;
                position: absolute;
                bottom: -240px;
                left: -370px;
            }
        }
    }
}

@media screen and (max-width:400px) {
    .hero {
        &__flex {
            &--btn {
                transform: translatex(0);
                top: 190px;
                left: 62px;
            }
        }
    }
}

.hero1 {
    position: relative;
    &__logo {
        position: absolute;
        left: -195px;
        top: 140px;
        z-index: -1;
    }
    &__logo1 {
        display: none;
    }
    &__list {
        @include flexfunksiya (row, center, center, wrap);
        gap: 30px;
        padding-bottom: 147px;
        padding-top: 100px;
        &--item {
            .title {
                font-family: $mono;
                padding-top: 40px;
                padding-bottom: 27px;
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 28px;
                color: $headeding;
            }
            .text {
                max-width: 350px;
                width: 100%;
                font-family: $desa;
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 25px;
                color: $text-color;
            }
        }
    }
}

@media screen and (max-width:768px) {
    .hero1 {
        &__logo {
            display: none;
        }
        &__logo1 {
            display: block;
            position: absolute;
            left: 102px;
            top: 90px;
            z-index: -1;
        }
        &__list {
            @include flexfunksiya (column, center, center, wrap);
            gap: 30px;
            padding-bottom: 147px;
            padding-top: 100px;
            &--item {
                column-gap: 79px;
                row-gap: 40px;
                @include flexfunksiya (row, center, Space-between, nowrap);
                .title {
                    font-family: $mono;
                    padding-top: 40px;
                    padding-bottom: 27px;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 28px;
                    color: $headeding;
                }
                .text {
                    max-width: 350px;
                    width: 100%;
                    font-family: $desa;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 25px;
                    color: $text-color;
                }
            }
        }
    }
}

@media screen and (max-width:576px) {
    .hero1 {
        &__logo1 {
            display: none;
        }
        &__list {
            display: block;
            &--item {
                padding-bottom: 48px;
                @include flexfunksiya (column, center, center, nowrap);
                .title {
                    text-align: center;
                }
                .text {
                    text-align: center;
                }
            }
        }
    }
}

.hero2 {
    position: relative;
    &__list {
        @include flexfunksiya (row, center, Space-between, wrap);
        .item-title1 {
            font-family: $mono;
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 48px;
            color: $headeding;
            max-width: 500px;
            padding-bottom: 24px;
            width: 100%;
        }
        .item-text1 {
            max-width: 500px;
            padding-bottom: 40px;
            font-family: $desa;
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 25px;
            color: $text-color;
        }
    }
    &__logo {
        position: absolute;
        top: 352px;
        right: -197px;
        z-index: 1;
    }
    &__logo1 {
        position: absolute;
        top: 0px;
        right: -195px;
    }
}